@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    /* box-sizing: border-box; */
}

header {
    width: 100%;
    height: 4.8rem;
    /* border: 2px solid red; */
}

#Logo {
    display: flex;
    flex-basis: 33%;
    justify-content: center;
    height: 1.9rem;
    padding-top: 20px;
}

.localisation {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    height: 4rem;
    color: rgb(71, 72, 73);
    align-items: center;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 0.5rem rgb(184, 180, 180);
}

.localisation p {
    text-align: center;
    /* border: 1px solid black; */
    padding-right: 30px;
    font-weight: bold;
}

.localisation i {
    align-items: center;
    /* border: 1px solid green; */
    padding-right: 1.2rem;
    /* width: 15rem; */
    /* margin-left: 30px; */
    color: rgb(71, 72, 73);
    font-size: x-large
}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    height: 20rem;
    /* width: 150px; */
    justify-content: flex-start;
}

.reservation h1 {
    padding-top: 1.5rem;
}

.reservation p {
    font-weight: none;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.explorer {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    /* background-color: #fafafa; */
}


.fonctionnement h1 {
    padding-top: 1.3rem;
}

.list-option {

    background-color: #f6f6f6;
    padding: 1rem 2rem;
}
ol{
    display: flex;
}